/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
}

h1 {
  color: #4682b4;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 5px;
  justify-content: center; /* Center the content horizontally */
  margin: 0 auto; /* Center the button itself */
}

button:hover {
  background: #c4e201;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

p {
  font-size: 18px;
  color: #36bcb5;
}

.score {
  font-size: 24px;
  margin: 20px 0;
  color: #4682b4;
}

img {
  max-width: 500px;
  margin: 20px 0;
}





.radio-inputs {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: #daecdf;
  box-sizing: border-box;
  font-size: 14px;
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  color: #36bcb5;
  transition: all 0.15s ease-in-out;
  position: relative;
}


.radio-inputs .radio input:checked + .name {
  background-color: #ffffff;
  font-weight: 600;
}
.radio-inputs .radio input + .name:hover {
  color: #36bcb5;
}
.radio-inputs .radio input:checked + .name:hover {
  color: #36bcb5;
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #daecdf;
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #ffffff;
}
.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #ffffff;
}